/* some style */

.home {
    margin-top: 3em;
}

.home h1 {
    color: #9A6C91;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
}

.home .slack {
    color: #50092F;
}

.home .page-title {
    color: #bbb;
    text-transform: uppercase;
    font-size: 0.5em;
    margin-top: 20px;
}

.home h1 input {
    padding: 5px;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 0.5em;
    border: none;
    outline: none;
    color: #333;
    width: 100%;
}

.mini-profile {
    padding: 5px 10px;
    border-bottom: 1px dashed #eee;
}

.mini-profile:last-child {
    border-bottom: none;
}

.mini-profile h3 {
    margin: 8px 0 8px 16px;
}

.mini-profile .name.online:after {
    content: "\25cf";
    color: #32978D;
    margin-left: 5px;
}

.mini-profile h4 {
    margin: 18px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.9em;
}

.mini-profile .karma {
    color: #ccc;
    font-size: 1.8em;
}

.mini-profile .karma .count {
    display: inline-block;
    margin-right: 10px;
}

.mini-profile .karma .today {
    display: inline-block;
    font-size: 0.9em;
    color: rgba(0,100,0,0.5);
}

.mini-profile .image {
    width: 48px;
    height: 48px;

    background: url(http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=50);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

.no-users {
    font-size: 1.1em;
    color: #999;
    padding: 10px;
}

.loading {
    padding: 10px;
    color: #999;
}
